* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 18px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.wrapper {
    & #qStats {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 1.5rem;

        }
    }

    #qOptions {
        display: none;
    }

    
}

.disabled {
    user-select: none;
    pointer-events: none;
    opacity: 0.2;

 
}